.plan {
    background-image: url(../img/bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_main {
        position: relative;
        padding: 0;
    }
    &_nav {
        position: absolute;
        top: 3vw;
        left: 4.29vw;
        &_item {
            width: 160px;
            height: 160px;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: rgba(255, 255, 255, 0.56);
            box-shadow: 0 0 20px rgba(0,0,0,0.15);
            margin-bottom: 30px;
            text-align: center;
            position: relative;
            cursor: pointer;
            &.active {
                background-color: #206FB2;
                .plan_nav {
                    &_ch {
                        color: #fff;
                    }
                    &_en {
                        color: rgba(255,255,255,0.25);
                    }
                }
            }
            &.architecture-mode {
                overflow: hidden;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: none;
                }
                &.light {
                    >img {
                        &.architecture-mode_light {
                            display: block;
                        }
                    }
                }
                &.dark {
                    >img {
                        &.architecture-mode_dark {
                            display: block;
                        }
                    }
                }
            }
        }
        &_ch {
            font-size: 33px;
            font-weight: 700;
            margin: 0;
            color: #37549F;
            margin-bottom: 5px;
        }
        &_en {
            font-family: $font-serif;
            font-size: 15px;
            color: rgba(32, 111, 178, 0.25);
            margin: 0;
            font-weight: 700;
        }
        &-space {
            .plan_nav {
                &_ch {
                    margin-bottom: 5px;
                    line-height: 1.2;
                }
            }
        }
    }
    &_inner {
        width: 100%;
        height: 100%;
        display: none;
        &.active {
            display: block;
        }
        .bird {
            position: absolute;
            width: 9.45vw;
            top: 5.85vw;
            right: 0;
        }
        &-architecture {
            position: relative;
            >div {
                width: 100%;
                height: 100%;
                position: relative;
                display: none;
                >img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    top: 0;
                    left: 0;
                }
            }
            &.mode-light {
                >div {
                    &.architecture {
                        &_light {
                            display: block;
                        }
                    }
                }
            }
            &.mode-dark {
                >div {
                    &.architecture {
                        &_dark {
                            display: block;
                        }
                    }
                }
            }
            p {
                position: absolute;
                font-size: 22px;
                font-weight: 500;
                margin: 0;
                top: 28px;
                right: 30px;
                color: #fff;
                letter-spacing: 0.1em;
            }
        }
        &-spaceall {
            .compass {
                position: absolute;
                width: 4.88vw;
                top: 6.43vw;
                left: 18.25vw;
            }
            .bird {
                position: absolute;
                width: 9.45vw;
                top: 5.85vw;
                right: 0;
            }
            .map {
                position: absolute;
                width: 72.67vw;
                top: 4.9vw;
                right: 0vw;
            }
            .btns {
                display: flex;
                align-items: center;
                position: absolute;
                gap: 5px;
                left: 14.52vw;
                bottom: 4.52vw;
                a {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    padding: 0 22px;
                    border: 2px solid #589756;
                    border-radius: 13px;
                    transition: $transition;
                    position: relative;
                    img {
                        width: 6px;
                        position: absolute;
                        top: 50%;
                        left: 13px;
                        transform: translateY(-50%);
                        opacity: 0;
                        transition: $transition;
                    }
                    span {
                        color: #589756;
                        font-size: 33px;
                        font-weight: 700;
                        transition: $transition;
                    }
                    &:hover {
                        background-color: #589756;
                        img {
                            opacity: 1;
                        }
                        span {
                            color: #fff;
                        }
                    }
                }
            }
        }
        &-spacetitle {
            position: absolute;
            top: 4.37vw;
            right: 8.88vw;
            h2 {
                font-size: 43px;
                color: #37549F;
                font-weight: 700;
                letter-spacing: 0.15em;
                padding-bottom: 20px;
                margin-bottom: 20px;
                width: fit-content;
                border-bottom: 1px solid #37549F;
                letter-spacing: 0.1em;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #37549F;
                    bottom: -6px;
                    left: -12px;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background-color: #37549F;
                    bottom: -6px;
                    right: -12px;
                }
            }
            p {
                font-size: 15px;
                color: #231815;
                margin: 0;
                text-align: center;
                letter-spacing: 0.08em;
                text-align: right;
            }
        }
        &-spacestandard {
            .compass {
                position: absolute;
                width: 4.88vw;
                top: 6.2vw;
                left: 16.18vw;
            }
            .map {
                position: absolute;
                width: 47vw;
                top: 7.16vw;
                left: 17.36vw;
                &-base {
                    width: 100%;
                }
                &-item {
                    position: absolute;
                    transition: $transition;
                    cursor: pointer;
                    &_main {
                        width: 100%;
                    }
                    &_text {
                        position: absolute;
                        width: 1.84vw;
                    }
                    &:hover {
                        transform: scale(1.1);
                        z-index: 5;
                    }
                }
                .balcony {
                    position: absolute;
                    width: 5.02%;
                    top: 33.42%;
                    left: 9.37%;
                }
                &-b6 {
                    width: 18.2%;
                    top: 10.51%;
                    left: 14.55%;
                    .map-item_text {
                        top: 68%;
                        left: 47%;
                    }
                }
                &-b7 {
                    width: 15.2%;
                    top: 5.29%;
                    left: 32.4%;
                    .map-item_text {
                        top: 55.94%;
                        left: 68%;
                    }
                }
                &-b1 {
                    width: 19.5%;
                    top: 24.9%;
                    left: 15.8%;
                    .map-item_text {
                        top: 18%;
                        left: 37%;
                    }
                }
                &-b2 {
                    width: 16.2%;
                    top: 26.1%;
                    left: 32.5%;
                    .map-item_text {
                        top: 41%;
                        left: 4%;
                    }
                }
                &-b8 {
                    width: 15.19%;
                    top: 5.36%;
                    left: 61.08%;
                    .map-item_text {
                        top: 57%;
                        left: 6%;
                    }
                }
                &-b9 {
                    width: 17.9%;
                    top: 10.64%;
                    left: 76.07%;
                    .map-item_text {
                        top: 72%;
                        left: 32%;
                    }
                }
                &-b3 {
                    width: 16.2%;
                    top: 26.2%;
                    left: 60.27%;
                    .map-item_text {
                        top: 41%;
                        left: 70%;
                    }
                }
                &-b5 {
                    width: 19%;
                    top: 26.1%;
                    left: 73.8%;
                    .map-item_text {
                        top: 12%;
                        left: 44%;
                    }
                }
                &-a1 {
                    width: 19.39%;
                    top: 56.75%;
                    left: 15.86%;
                    .map-item_text {
                        top: 63%;
                        left: 34%;
                    }
                }
                &-a2 {
                    width: 20.07%;
                    top: 56.75%;
                    left: 32.47%;
                    .map-item_text {
                        top: 30%;
                        left: 3%;
                    }
                }
                &-a7 {
                    width: 15.1%;
                    top: 76.7%;
                    left: 32.47%;
                    .map-item_text {
                        top: 20%;
                        left: 69%;
                    }
                }
                &-a6 {
                    width: 17.9%;
                    top: 72.03%;
                    left: 14.64%;
                    .map-item_text {
                        top: 5%;
                        left: 44%;
                    }
                }
                &-a8 {
                    width: 15.15%;
                    top: 76.7%;
                    left: 61.08%;
                    .map-item_text {
                        top: 20%;
                        left: 6%;
                    }
                }
                &-a9 {
                    width: 17.97%;
                    top: 72.1%;
                    left: 76.1%;
                    .map-item_text {
                        top: 2%;
                        left: 36%;
                    }
                }
                &-a5 {
                    width: 19.12%;
                    top: 56.8%;
                    left: 73.8%;
                    .map-item_text {
                        top: 62%;
                        left: 46%;
                    }
                }
                &-a3 {
                    width: 21.49%;
                    top: 56.8%;
                    left: 56%;
                    .map-item_text {
                        top: 36%;
                        left: 73%;
                    }
                }
            }
        }
        &-floor {
            .compass {
                position: absolute;
                width: 4.88vw;
                top: 4.79vw;
                left: 15.85vw;
            }
            .bird {
                position: absolute;
                width: 9.45vw;
                top: 5.85vw;
                right: 0;
            }
            .map {
                position: absolute;
                width: 245px;
                top: 16.73vw;
                right: 10.44vw;
                &_room {
                    cursor: pointer;
                    path, polygon {
                        transition: $transition;
                    }
                    &:hover, &.active {
                        .map {
                            &_fill {
                                fill: #206FB2;
                            }
                            &_text {
                                path {
                                    fill: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .floor-pic {
                &_item {
                    position: absolute;
                    width: 48vw;
                    top: 7vw;
                    left: 15vw;
                    display: none;
                    &.active {
                        display: block;
                    }
                    &#floor-pic {
                        &-a1 {
                            top: 0;
                        }
                        &-a2 {
                            top: 4.5vw;
                        }
                        &-a5 {
                            top: 4.5vw;
                        }
                        &-a8 {
                            top: 5vw;
                        }
                        &-b2 {
                            top: 5vw;
                        }
                        &-b6 {
                            top: 9vw;
                        }
                        &-b8 {
                            top: 5vw;
                        }
                    }
                }
            }
            .floor-size {
                position: absolute;
                display: flex;
                align-items: center;
                gap: 20px;
                padding-bottom: 15px;
                border-bottom: 1px solid #87b941;
                right: 10.46vw;
                bottom: 19.7vw;
                img {
                    width: 10px;
                }
                &_inner {
                    display: flex;
                    align-items: center;
                }
                &_room {
                    font-size: 38px;
                    font-weight: 700;
                    color: #206fb2;
                    padding-right: 11px;
                    position: relative;
                    line-height: 1;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 1px;
                        height: 22px;
                        background-color: #206fb2;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
                &_content {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-left: 11px;
                    p {
                        line-height: 1;
                        margin: 0;
                    }
                    .num {
                        color: #206fb2;
                        font-size: 32px;
                        font-weight: 700;
                    }
                    .unit {
                        width: 28px;
                        height: 28px;
                        border-radius: 50%;
                        background-color: #206fb2;
                        color: #fff;
                        font-size: 22px;
                        font-weight: 700;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transform: translateY(5px);
                    }
                }
            }
        }
        &-realpic {
            .realpic {
                &_main {
                    position: absolute;
                    width: 57.05vw;
                    top: 5.68vw;
                    left: 20.26vw;
                }
                &_btn {
                    display: flex;
                    align-items: center;
                    gap: 1.82vw;
                    margin-bottom: 3.11vw;
                    a {
                        width: 143px;
                        height: 143px;
                        border-radius: 50%;
                        background-color: rgba(255,255,255,0.7);
                        box-shadow: 0 0 5px rgba(0,0,0,0.5);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        color: #E96600;
                        font-size: 29px;
                        font-weight: 700;
                        text-align: center;
                        >span {
                            line-height: 1.3;
                        }
                        .num {
                            font-size: 37px;
                        }
                        img {
                            width: 35%;    
                        }
                        &::after {
                            position: absolute;
                            content: "";
                            width: 110%;
                            height: 110%;
                            border: 2px solid rgba(255,255,255,0.7);
                            border-radius: 50%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            box-shadow: 0 0 5px rgba(0,0,0,0.5);
                        }
                    }
                }
                &_pic {
                    width: 100%;
                }
            }
        }
        &-pic-3d {
            .pic-3d {
                &_main {
                    width: 100%;
                    height: 100%;
                }
                &_tab {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    gap: 7px;
                    left: 4.29vw;
                    bottom: 4.76vw;
                    button {
                        width: 140px;
                        height: 50px;
                        border-radius: 100px;
                        border: 2px solid rgba(255,255,255,0.57);
                        font-size: 17px;
                        color: #fff;
                        text-shadow: 0 0 3px rgba(0,0,0,0.75);
                        box-shadow: 0 0 10px rgba(0,0,0,0.35);
                        font-size: 17px;
                        background-color: transparent;
                        text-align: center;
                        line-height: 1;
                        transition: $transition;
                        &.active {
                            background-color: rgba(255,255,255,0.57);
                            color: #231815;
                            text-shadow: none;
                        }
                        small {
                            font-size: 10px;
                        }
                    }
                }
                &_pic {
                    width: 100%;
                    height: 100%;
                    &_item {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        display: none;
                        >img {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            top: 0;
                            left: 0;
                        }
                        >p {
                            position: absolute;
                            font-size: 22px;
                            font-weight: 500;
                            margin: 0;
                            top: 28px;
                            right: 30px;
                            color: #fff;
                            letter-spacing: 0.1em;
                            text-shadow: 0 0 3px rgba(0,0,0,0.75);
                        }
                        &.active {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    &_space {
        &_nav {
            padding-left: 23px;
            margin-bottom: 35px;
            position: relative;
            display: none;
            li {
                font-size: 23px;
                margin-bottom: 20px;
                color: #37549F;
                padding-left: 20px;
                position: relative;
                cursor: pointer;
                &:last-child {
                    margin-bottom: 0;
                }
                &::before {
                    position: absolute;
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #37549F;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                }
                &.active {
                    color: #E96600;
                    &::before {
                        background-color: #E96600;
                    }
                }
            }
            &::before {
                position: absolute;
                content: "";
                width: 1px;
                height: calc(100% - 33px);
                top: 50%;
                left: 27px;
                transform: translateY(-50%);
                background-color: #37549F;
            }
        }
    }
    &-basement {
        .inner {
            &_bg {
                background-image: url(../img/basement-bg.webp);
            }
            &_title {
                &_ch {
                    border-radius: 0;
                    background: linear-gradient(to left, rgba(29, 89, 169, 0) 0%, #1D59A9 48%, #1D59A9 100%);
                    h1 {
                        &::before {
                            display: none;
                        }
                    }
                }
            }
            &_remark {
                position: absolute;
                font-size: 16px;
                font-weight: 300;
                top: calc(8.48vw + 104px);
                left: 8vw;
            }
        }
        &_map {
            width: 63.75vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &_link {
            position: absolute;
            width: 1.85vw;
            top: 50%;
            transform: translateY(-50%);
            transition: $transition;
            >img {
                width: 100%;
            }
            &:hover {
                transform: translateY(-50%) scale(1.2);
            }
            &.prev {
                left: 1.3vw;
            }
            &.next {
                right: 1.5vw;
            }
        }
    }
}