.material {
    background-image: url(../img/material-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &_main {
        width: 80%;
        margin: 0 auto;
        .title {
            margin-bottom: 3.5vw;
            &_ch {
                color: #fff;
                span {
                    &::after {
                        background-color: #fff;
                    }
                }
            }
            &_en {
                color: #fff;
            }
        }
    }
    &_content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &_item {
        width: 25%;
        padding: 0 1.7vw;
        a {
            display: block;
            width: 100%;
            padding-bottom: 100%;
            border-radius: 100%;
            position: relative;
            overflow: hidden;
            >img {
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            >span {
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                color: #fff;
                font-size: 15px;
                text-shadow: 0 0 2.5px #000;
                bottom: 7.6%;
                left: 0;
            }
            &:hover {
                .material_item_hover {
                    opacity: 1;
                }
            }
        }
        &_circle {
            position: absolute;
            width: 92%;
            padding-bottom: 92%;
            border-radius: 50%;
            border: 1px solid #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &_hover {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #94B53E;
            opacity: 0;
            transition: $transition;
            >img {
                width: 77.85%;
                display: block;
                margin: 0 auto 0px;
            }
            >span {
                color: #fff;
                font-size: 26px;
                font-weight: 700;
                text-shadow: 0 0 5px rgba(0,0,0,0.5);
                display: block;
                text-align: center;
            }
        }
    }
    &-inner {
        &_main {
            padding: 4.83vw 4.91vw;
            width: 100vw;
            height: 100vh;
            position: relative;
        }
        &_bg {
            width: 100%;
            height: 100%;
            border-radius: 43px;
            background-color: #fff;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: calc(5.51vw + 104px);
            &.innerr {
                padding: 0 9.49vw;
                display: flex;
                align-items: center;
                .material-inner_list {
                    li {
                        font-weight: 300;
                        font-size: 28px;
                    }
                }
                &.husky {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                }
            }
            &.sakura {
                background-image: url(../img/sakura-bg.webp);
                padding-left: 8vw;
                padding-right: 8vw;
            }
            &.hometek {
                background-image: url(../img/hometek_bg.webp);
                padding-left: 4.82vw;
                padding-right: 4.82vw;
            }
            &.husky {
                background-image: url(../img/husky-bg.webp);
                padding-left: 11vw;
                padding-right: 11vw;
                .material-innerr_en {
                    margin-bottom: 43px;
                }
            }
            &.toto {
                background-image: url(../img/toto-bg.webp);
                padding-left: 9vw;
                padding-right: 9vw;
            }
            &.tta {
                background-image: url(../img/tta-bg.webp);
                padding-left: 5vw;
                padding-right: 5vw;
            }
        }
        &_title {
            position: absolute;
            left: 0;
            top: 6.88vw;
            display: flex;
            align-items: center;
            &_ch {
                padding: 1.28vw 6.41vw 1.28vw 5.74vw;
                background: linear-gradient(to right, rgba(29, 89, 169, 0.2) 0%, #1D59A9 100%);
                width: fit-content;
                border-radius: 0 100px 100px 0;
                margin-right: 1.82vw;
                h1 {
                    margin: 0;
                    padding-left: 2.33vw;
                    position: relative;
                    font-size: 38px;
                    font-weight: 300;
                    color: #fff;
                    letter-spacing: 0.2em;
                    &::before {
                        position: absolute;
                        content: "";
                        width: 10px;
                        height: 31px;
                        background-color: #FFD663;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
            }
            &_en {
                font-family: $font-serif;
                color: rgba(157, 176, 192, 0.25);
                font-size: 40px;
                font-weight: 700;
                margin: 0;
            }
        }
        &_list {
            li {
                padding-left: 1.53vw;
                position: relative;
                font-size: 30px;
                font-weight: 500;
                margin-bottom: 20px;
                letter-spacing: 0.2em;
                display: flex;
                align-items: center;
                &::before {
                    position: absolute;
                    content: "";
                    width: 10px;
                    height: 10px;
                    background-color: #005EAD;
                    top: 18px;
                    left: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                span {
                    display: block;
                    position: relative;
                    padding-right: 1.75vw;
                    &::after {
                        position: absolute;
                        content: "";
                        width: 4px;
                        height: 25px;
                        background-color: #000;
                        top: 50%;
                        right: 0.88vw;
                        transform: translate(50%, -50%);
                    }
                    &:last-child {
                        &::after {
                            display: none;
                        }
                    }
                }
                .highlight {
                    font-weight: 700;
                    display: inline-block;
                }
            }
        }
        &_row {
            display: flex;
            align-items: center;
            margin-left: -1.11vw;
            margin-right: -1.11vw;
            width: 100%;
            &_item {
                padding-left: 1.11vw;
                padding-right: 1.11vw;
                >a {
                    display: block;
                    border-radius: 45px;
                    background-color: rgba(255,255,255,0.5);
                    padding: 3.12vw 0 1.51vw;
                    box-shadow: 0 0 20px rgba(0,0,0,0.2);
                    width: 100%;
                    transition: $transition;
                    >img {
                        width: 95%;
                        display: block;
                        margin: 0 auto 1.87vw;
                    }
                    h3 {
                        width: fit-content;
                        margin: 0 auto;
                        font-weight: 300;
                        color: #005EAD;
                        font-size: 34px;
                        position: relative;
                        letter-spacing: 0.15em;
                        transition: $transition;
                        &::before {
                            position: absolute;
                            content: "";
                            width: 28px;
                            height: 20px;
                            background-image: url(../img/leaf-blue.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            top: 50%;
                            left: -40px;
                            filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
                            transform: translateY(-50%);
                            transition: $transition;
                            opacity: 0;
                        }
                    }
                    &:hover {
                        background-color: rgba(151, 154, 153, 0.6);
                        box-shadow: none;
                        h3 {
                            color: #fff;
                            font-weight: 700;
                            text-shadow: 0 0 10px rgba(0,0,0,0.3);
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            &.sakura {
               .material-inner_row_item {
                width: 33.3333%;
               } 
            }
            &.hometek {
                margin-right: 0;
                .material-inner_row_item {
                    width: 50%;
                } 
            }
            &.husky {
                margin-right: 0;
                .material-inner_row_item {
                    width: 100%;
                } 
            }
            &.toto {
                .material-inner_row_item {
                    &.toilet {
                        width: 25%;
                    }
                    &.basin {
                        width: 75%;
                    }
                }
            }
        }
    }
    &-innerr {
        &_top {
            display: flex;
            align-items: center;
            margin-bottom: 32px;
        }
        &_en {
            margin: 0;
            color: rgba(157, 176, 192, 0.25);
            font-family: $font-serif;
            font-size: 40px;
            letter-spacing: 0.1em;
            line-height: 1.1;
        }
        &_title {
            font-size: 45px;
            font-weight: 700;
            margin-bottom: 32px;
            letter-spacing: 0.25em;
        }
        &_info {
            display: flex;
            align-items: center;
            padding: 18px 35px;
            border-radius: 100px;
            background-color: rgba(255,255,255,0.5);
            box-shadow: 0 0 20px rgba(0,0,0,0.15);
            width: fit-content;
            li {
                position: relative;
                font-size: 28px;
                font-weight: 300;
                color: #231815;
                padding-right: 35px;
                letter-spacing: 0.17em;
                &::after {
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 24px;
                    background-color: #231815;
                    top: 50%;
                    right: 18px;
                    transform: translateY(-50%);
                }
                &:last-child {
                    padding-right: 0;
                    &::after {
                        display: none;
                    }
                }
            }
        }
        &_head {
            margin-bottom: 70px;
            position: relative;
            width: fit-content;
        }
        &_bird {
            position: absolute;
            width: 12.19vw;
            top: 8.12%;
            left: 102%;
        }
        &_product {
            width: 100%;
        }
    }
}

.sakura {
    &_head {
        display: flex;
        align-items: center;
        margin-bottom: 3.03vw;
    }
    &_logo {
        width: 7.32vw;
        margin-right: 2.94vw;
    }
    &_bird {
        position: absolute;
        width: 12.19vw;
        top: 13.39vw;
        right: 11.29vw;
    }
    &-inner {
        &_item {
            width: 50%;
        }
        &_logo {
            width: 4.55vw;
            margin-right: 2.53vw;
        }
    }
    &_deco {
        position: absolute;
        width: 3.02vw;
        left: 6.56vw;
        bottom: 1.79vw;
    }
}

.hometek {
    &_main {
        display: flex;
        align-items: center;
        &_text {
            width: 40%;
            padding-right: 3vw;
        }
        &_pic {
            width: 60%;
        }
        .material-inner_list {
            li {
                display: block;
                font-weight: normal;
                padding-bottom: 30px;
                border-bottom: 1px solid #09A3E0;
                &:last-child {
                    border: 0;
                    padding-bottom: 0;
                }
            }
        }
    }
    &_logo {
        width: 20.94vw;
        margin-bottom: 50px;
        filter: none;
    }
    &_bird {
        position: absolute;
        width: 12.19vw;
        top: 2.46vw;
        right: 5.24vw;
    }
    &-1 {
        .hometek-inner {
            &_text {
                width: 75%;
            }
            &_pic {
                width: 25%;
            }
        }
    }
    &-2 {
        .hometek-inner {
            &_text {
                width: 60%;
            }
            &_pic {
                width: 40%;
            }
        }
    }
    &-inner {
        &_text {
            padding-right: 3.43vw;
        }
        &_logo {
            width: 14.84vw;
            margin-right: 1.89vw;
        }
    }
    &_deco {
        position: absolute;
        width: 5.23vw;
        top: 2.06vw;
        right: 6.1vw;
    }
}

.husky {
    &_logo {
        width: 28.03vw;
        margin-bottom: 2.24vw;
    }
    &_main {
        display: flex;
        align-items: center;
        &_text {
            width: 55%;
        }
        &_pic {
            width: 45%;
        }
        .material-innerr_info {
            margin-bottom: 32px;
        }
    }
    &_list {
        &-box {
            display: flex;
            margin-top: 20px;
            >ul {
                width: 50%;
            }
        }
    }
    &_inner {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2.5vw;
        margin-right: -2.5vw;
        position: relative;
        &_item {
            padding-left: 2.5vw;
            padding-right: 2.5vw;
            padding-bottom: 45px;
            width: 33.3333%;
            &.last {
                width: 66.6667%;
                left: 0;
                bottom: 0;
                position: absolute;
            }
        }
        &_title {
            padding: 16px;
            background-color: #fff;
            border-radius: 30px;
            box-shadow: 0 0 20px rgba(0,0,0,0.2);
            display: flex;
            align-items: center;
            width: fit-content;
            margin-bottom: 20px;
            >img {
                width: 70px;
                margin-right: 18px;
            }
            >h3 {
                font-size: 30px;
                font-weight: 700;
                margin: 0;
                color: #231815;
                padding-bottom: 15px;
                position: relative;
                width: fit-content;
                &::after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 5px;
                    left: 0;
                    bottom: 0;
                }
                &.border {
                    &-lightgreen {
                        &::after {
                            background-color: #7BA445;
                        }
                    }
                    &-bluegreen {
                        &::after {
                            background-color: #499B87;
                        }
                    }
                    &-yellow {
                        &::after {
                            background-color: #F3B03D;
                        }
                    }
                    &-blue {
                        &::after {
                            background-color: #5A9AC0;
                        }
                    }
                    &-orange {
                        &::after {
                            background-color: #EC7D3B;
                        }
                    }
                    &-deepgreen {
                        &::after {
                            background-color: #448542;
                        }
                    }
                }
            }
        }
        &_content {
            font-size: 23px;
            margin: 0;
            letter-spacing: 0.1em;
            font-weight: 300;
            text-align: justify;
        }
        &_feat {
            position: relative;
            padding: 20px;
            background-color: #468440;
            border-radius: 15px;
            margin-top: 20px;
            width: fit-content;
            h4 {
                color: #fff;
                font-weight: 700;
                font-size: 23px;
                margin-bottom: 13px;
            }
            ul {
                >li {
                    color: #fff;
                    padding-left: 20px;
                    position: relative;
                    font-size: 21px;
                    font-weight: 300;
                    margin-bottom: 5px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    &::before {
                        position: absolute;
                        content: "";
                        width: 8px;
                        height: 8px;
                        background-color: #fff;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%) rotate(45deg);
                    }
                }
            }
            p {
                color: #468440;
                font-size: 14px;
                margin: 0;
                position: absolute;
                top: 10px;
                left: calc(100% + 10px);
                white-space: nowrap;
            }
        }
    }
    &_deco {
        position: absolute;
        width: 12.19vw;
        top: -0.5vw;
        left: 1.6vw;
    }
}

.toto {
    &_main {
        &_top {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            margin-top: 3vw;
            .material-inner_list {
                li {
                    margin-bottom: 5px;
                }
            }
        }
    }
    &_logo {
        width: 22.66vw;
        margin-right: 2.36vw;
    }
    &-inner {
        &_text {
            width: 65%;
        }
        &_pic {
            width: 35%;
        }
    }
    &_feat {
        display: flex;
        align-items: center;
        margin-top: 55px;
        &_item {
            display: flex;
            align-items: center;
            margin-right: 33px;
            >img {
                width: 55px;
                margin-right: 10px;
            }
            >p {
                font-size: 27px;
                font-weight: 300;
                margin: 0;
            }
        }
    }
    &_deco {
        position: absolute;
        width: 12.19vw;
        top: 12.34vw;
        right: 1.29vw;
    }
}

.tta {
    &_main {
        display: flex;
        align-items: center;
        margin-top: 1.54vw;
        &_top {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
        }
        &_left {
            width: 90%;
            padding-right: 1.68vw;
        }
        &_right {
            width: 10%;
            >img {
                width: 100%;
            }
        }
        &_table {
            width: 100%;
        }
    }
    &_logo {
        width: 19%;
    }
    &_list {
        width: 31%;
        >div {
            width: fit-content;
            margin: 0 auto;
        }
    }
    &_product {
        width: 50%;
    }
    &_title {
        font-size: 45px;
        font-weight: 700;
        margin-bottom: 15px;
    }
    &_bird {
        position: absolute;
        width: 10.32vw;
        top: 4.37vw;
        right: 4.61vw;
    }
}