@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans TC", serif;
  padding: 0;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav {
  width: 13%;
  height: 100vh;
  background-image: url(../img/nav-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 3.7vw;
}

.nav_logo {
  width: 70%;
  margin: 0 auto 3.2vw;
  display: block;
}

.nav_list > li {
  width: 100%;
  padding-bottom: 64%;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_list > li::after {
  position: absolute;
  content: "";
  width: 75%;
  height: 3px;
  background-color: #fff;
  border-radius: 3px;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 3px rgba(0, 56, 84, 0.3);
          box-shadow: 0 0 3px rgba(0, 56, 84, 0.3);
}

.nav_list > li:last-child::after {
  display: none;
}

.nav_list > li.active {
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 56, 84, 0.3);
          box-shadow: 0 0 3px rgba(0, 56, 84, 0.3);
}

.nav_list > li.active .nav_list_item > a {
  color: #0069A9;
  text-shadow: none;
}

.nav_list > li.active .nav_list_item.haschild > a {
  padding-left: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #0069A9;
}

.nav_list > li.active .nav_list_item.haschild > a::before {
  opacity: 1;
}

.nav_list > li.active::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav_list > li.active .nav_list_second {
  display: block;
}

.nav_list > li:hover {
  background-color: #fff;
}

.nav_list > li:hover::after {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.nav_list > li:hover .nav_list_item > a {
  color: #0069A9;
  text-shadow: none;
}

.nav_list > li:hover .nav_list_item.haschild > a {
  padding-left: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid #0069A9;
}

.nav_list > li:hover .nav_list_item.haschild > a::before {
  opacity: 1;
}

.nav_list > li.noborder::after {
  display: none;
}

.nav_list_item {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.nav_list_item > a {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.55);
  display: block;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: 0.2em;
}

.nav_list_item:not(.haschild) > a {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_list_item.haschild > a::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 6px;
  background-image: url(../img/triangle-2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.nav_list_second {
  display: none;
}

.nav_list_second li {
  margin-top: 3px;
}

.nav_list_second a {
  font-size: 27px;
  letter-spacing: 0.08em;
  padding-left: 40px;
  color: #231815;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav_list_second a::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../img/leaf-green.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.nav_list_second a.active, .nav_list_second a:hover {
  color: #90C260;
}

.nav_list_second a.active::before, .nav_list_second a:hover::before {
  opacity: 1;
}

.main {
  width: 87%;
  padding-top: 5.97vw;
  position: relative;
}

.deco-1 {
  position: absolute;
  width: 23%;
  left: 0;
  bottom: 0;
}

.deco-2 {
  position: absolute;
  width: 20%;
  right: 0;
  bottom: 0;
}

.deco-3 {
  position: absolute;
  width: 27%;
  right: 0;
  bottom: 0;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_ch {
  font-size: 48px;
  font-weight: normal;
  margin-right: 45px;
}

.title_ch span {
  padding: 0 14px;
  position: relative;
}

.title_ch span:first-child {
  padding-left: 0;
}

.title_ch span:last-child {
  padding-right: 0;
}

.title_ch span:last-child::after {
  display: none;
}

.title_ch span::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 19px;
  background-color: #000;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.title_en {
  font-size: 23px;
  color: #ABA7A7;
  margin: 0;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.home {
  background-image: url(../img/home-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.home_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.home_logo {
  width: 25vw;
  display: block;
  margin: 0 auto;
}

.home_nav {
  margin-top: calc(5vw - 10px);
  padding-top: 10px;
}

.home_nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home_nav > ul > li {
  position: relative;
}

.home_nav > ul > li:last-child a::after {
  display: none;
}

.home_nav > ul > li:hover > a {
  padding: 10px 30px 10px 30px;
  margin-left: 20px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #0069A9;
  text-shadow: none;
  cursor: pointer;
}

.home_nav > ul > li:hover > a::after {
  opacity: 0;
}

.home_nav > ul > li:hover > a.haschild {
  padding: 10px 20px 10px 50px;
}

.home_nav > ul > li:hover > a.haschild::before {
  opacity: 1;
}

.home_nav > ul > li:hover .home_nav_triangle {
  opacity: 1;
}

.home_nav > ul > li:hover .home_nav_second {
  opacity: 1;
}

.home_nav > ul > li > a {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 0 50px;
  display: block;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home_nav > ul > li > a::after {
  position: absolute;
  content: "";
  width: 0.7vw;
  padding-bottom: calc(0.7vw * 2.33);
  background-image: url(../img/divide.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home_nav > ul > li > a.haschild::before {
  position: absolute;
  content: "";
  width: 0.6vw;
  height: 0.3vw;
  background-image: url(../img/triangle-2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 25px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home_nav_triangle {
  position: absolute;
  height: 100%;
  top: 0;
  left: calc(100% - 1px);
  opacity: 0;
}

.home_nav_second {
  position: absolute;
  top: 100%;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-top: 20px;
}

.home_nav_second li {
  margin-bottom: 15px;
}

.home_nav_second a {
  font-size: 28px;
  color: #fff;
  font-weight: 500;
  padding: 10px 20px 10px 50px;
  position: relative;
}

.home_nav_second a::before {
  position: absolute;
  content: "";
  width: 1.23vw;
  height: 1.24vw;
  background-image: url(../img/leaf.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.home_nav_second a:hover {
  color: #FFF56E;
}

.home_nav_second a:hover::before {
  opacity: 1;
}

.home_nav:hover {
  padding-top: 0;
}

.home_bird {
  position: absolute;
  width: 34vw;
  top: 4.59vw;
  right: -7.68vw;
}

.group {
  background-image: url(../img/bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.group_main {
  width: 65%;
  margin: 0 auto;
}

.group .title {
  padding-bottom: 30px;
  border-bottom: 1px solid #000;
  padding-left: 75px;
  margin-bottom: 70px;
}

.group_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 10%;
  margin-bottom: 3vw;
}

.group_circle {
  width: 155px;
  height: 155px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.group_circle h3 {
  font-size: 32px;
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: normal;
}

.group_circle h4 {
  position: absolute;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  top: 50%;
  left: 90%;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.group_circle.circle-green {
  background: linear-gradient(135deg, rgba(156, 197, 79, 0.8) 0%, transparent 90%);
}

.group_circle.circle-green h4 {
  color: #429955;
}

.group_circle.circle-blue {
  background: linear-gradient(135deg, rgba(0, 160, 233, 0.8) 0%, transparent 90%);
}

.group_circle.circle-blue h4 {
  color: #00A0D8;
}

.group_circle.circle-yellow {
  background: linear-gradient(135deg, rgba(243, 152, 0, 0.8) 0%, transparent 90%);
}

.group_circle.circle-yellow h4 {
  color: #FF8B00;
}

.group_text {
  width: calc(100% - 155px);
  padding-left: 13%;
}

.group_text h5 {
  font-size: 26px;
  margin-bottom: 30px;
  font-weight: 400;
}

.group_text p {
  font-size: 21px;
  font-weight: 300;
  margin: 0;
  line-height: 1.6;
  letter-spacing: 0.08em;
  text-align: justify;
}

.group_tree {
  position: absolute;
  width: 6%;
  top: 12.85%;
  left: 12%;
}

.group_bird {
  position: absolute;
  width: 12.2%;
  top: 51.96%;
  right: 4.41%;
}

.performance_main {
  width: 80%;
  margin: 0 auto;
}

.performance_main .title {
  margin-bottom: 2.4vw;
}

.performance_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3vw;
  position: relative;
}

.performance_row.middle::before {
  position: absolute;
  content: "";
  width: 12.5%;
  height: 1px;
  background-color: #154C1B;
  top: 33.6%;
  right: 100%;
}

.performance_row.middle::after {
  position: absolute;
  content: "";
  width: 10%;
  height: 1px;
  background-color: #154C1B;
  top: 32%;
  left: 102.5%;
}

.performance_row.end::before {
  position: absolute;
  content: "";
  width: 12.5%;
  height: 1px;
  background-color: #154C1B;
  top: 33.6%;
  right: 100%;
}

.performance_row_end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 8%;
  top: 28%;
  left: 102.5%;
}

.performance_row_end_line {
  width: calc(100% - 20px);
  height: 1px;
  background-color: #154C1B;
}

.performance_item {
  width: calc(100% / 6);
}

.performance_item_inner {
  width: 55%;
  margin-left: auto;
}

.performance_item_circle {
  width: 100%;
  padding-bottom: 100%;
  position: relative;
  background-image: url(../img/circle.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.performance_item_circle h3 {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin: 0;
  color: #154C1B;
  font-size: 33px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
}

.performance_item_year {
  position: absolute;
  font-size: 32px;
  color: #154C1B;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #154C1B;
  top: 15%;
  right: 100%;
  width: 70%;
  text-align: right;
  padding-right: 5px;
}

.performance_item_year.longer {
  width: 82%;
}

.performance_item_text {
  margin-top: 1vw;
  text-align: center;
}

.performance_item_text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.performance_item_text ul li {
  font-size: 19px;
  color: #154C1B;
  padding: 0 10px;
  position: relative;
  white-space: nowrap;
}

.performance_item_text ul li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 14px;
  background-color: #008438;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.performance_item_text ul.onlyone li::after {
  display: none;
}

.performance_item_text p {
  color: #154C1B;
  font-size: 19px;
  margin: 0;
}

.performance_item_begin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26.9%;
}

.performance_item_dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #154C1B;
}

.performance_item_line {
  width: calc(100% - 20px);
  height: 1px;
  background-color: #154C1B;
}

.material {
  background-image: url(../img/material-bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.material_main {
  width: 80%;
  margin: 0 auto;
}

.material_main .title {
  margin-bottom: 3.5vw;
}

.material_main .title_ch {
  color: #fff;
}

.material_main .title_ch span::after {
  background-color: #fff;
}

.material_main .title_en {
  color: #fff;
}

.material_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.material_item {
  width: 25%;
  padding: 0 1.7vw;
}

.material_item a {
  display: block;
  width: 100%;
  padding-bottom: 100%;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.material_item a > img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.material_item a > span {
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 15px;
  text-shadow: 0 0 2.5px #000;
  bottom: 7.6%;
  left: 0;
}

.material_item a:hover .material_item_hover {
  opacity: 1;
}

.material_item_circle {
  position: absolute;
  width: 92%;
  padding-bottom: 92%;
  border-radius: 50%;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.material_item_hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #94B53E;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.material_item_hover > img {
  width: 77.85%;
  display: block;
  margin: 0 auto 0px;
}

.material_item_hover > span {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: block;
  text-align: center;
}

.material-inner_main {
  padding: 4.83vw 4.91vw;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.material-inner_bg {
  width: 100%;
  height: 100%;
  border-radius: 43px;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: calc(5.51vw + 104px);
}

.material-inner_bg.innerr {
  padding: 0 9.49vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-inner_bg.innerr .material-inner_list li {
  font-weight: normal;
  font-size: 28px;
}

.material-inner_bg.sakura {
  background-image: url(../img/sakura-bg.webp);
  padding-left: 8vw;
  padding-right: 8vw;
}

.material-inner_bg.hometek {
  background-image: url(../img/hometek_bg.webp);
  padding-left: 4.82vw;
  padding-right: 4.82vw;
}

.material-inner_title {
  position: absolute;
  left: 0;
  top: 6.88vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-inner_title_ch {
  padding: 1.28vw 6.41vw 1.28vw 5.74vw;
  background: -webkit-gradient(linear, left top, right top, from(rgba(29, 89, 169, 0.2)), to(#1D59A9));
  background: linear-gradient(to right, rgba(29, 89, 169, 0.2) 0%, #1D59A9 100%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 0 100px 100px 0;
  margin-right: 1.82vw;
}

.material-inner_title_ch h1 {
  margin: 0;
  padding-left: 2.33vw;
  position: relative;
  font-size: 38px;
  font-weight: 300;
  color: #fff;
  letter-spacing: 0.2em;
}

.material-inner_title_ch h1::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 31px;
  background-color: #FFD663;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.material-inner_title_en {
  font-family: "Noto Serif TC", serif;
  color: rgba(157, 176, 192, 0.25);
  font-size: 40px;
  font-weight: 700;
  margin: 0;
}

.material-inner_list li {
  padding-left: 1.53vw;
  position: relative;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
  letter-spacing: 0.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.material-inner_list li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #005EAD;
  top: 18px;
  left: 0;
}

.material-inner_list li:last-child {
  margin-bottom: 0;
}

.material-inner_list li span {
  display: block;
  position: relative;
  padding-right: 1.75vw;
}

.material-inner_list li span::after {
  position: absolute;
  content: "";
  width: 4px;
  height: 25px;
  background-color: #000;
  top: 50%;
  right: 0.88vw;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.material-inner_list li span:last-child::after {
  display: none;
}

.material-inner_list li .highlight {
  font-weight: 700;
  display: inline-block;
}

.material-inner_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -1.11vw;
  margin-right: -1.11vw;
  width: 100%;
}

.material-inner_row_item {
  padding-left: 1.11vw;
  padding-right: 1.11vw;
}

.material-inner_row_item > a {
  display: block;
  border-radius: 45px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3.12vw 0 1.51vw;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.material-inner_row_item > a > img {
  width: 95%;
  display: block;
  margin: 0 auto 1.87vw;
}

.material-inner_row_item > a h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  font-weight: 300;
  color: #005EAD;
  font-size: 34px;
  position: relative;
  letter-spacing: 0.15em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.material-inner_row_item > a h3::before {
  position: absolute;
  content: "";
  width: 28px;
  height: 20px;
  background-image: url(../img/leaf-blue.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: -40px;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.material-inner_row_item > a:hover {
  background-color: rgba(151, 154, 153, 0.6);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.material-inner_row_item > a:hover h3 {
  color: #fff;
  font-weight: 700;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.material-inner_row_item > a:hover h3::before {
  opacity: 1;
}

.material-inner_row.sakura .material-inner_row_item {
  width: 33.3333%;
}

.material-inner_row.hometek {
  margin-right: 0;
}

.material-inner_row.hometek .material-inner_row_item {
  width: 50%;
}

.material-innerr_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.material-innerr_en {
  margin: 0;
  color: rgba(157, 176, 192, 0.25);
  font-family: "Noto Serif TC", serif;
  font-size: 40px;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

.material-innerr_title {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 32px;
  letter-spacing: 0.25em;
}

.material-innerr_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 35px;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.material-innerr_info li {
  position: relative;
  font-size: 28px;
  font-weight: 300;
  color: #231815;
  padding-right: 35px;
  letter-spacing: 0.17em;
}

.material-innerr_info li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 24px;
  background-color: #231815;
  top: 50%;
  right: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.material-innerr_info li:last-child {
  padding-right: 0;
}

.material-innerr_info li:last-child::after {
  display: none;
}

.material-innerr_head {
  margin-bottom: 70px;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.material-innerr_bird {
  position: absolute;
  width: 12.19vw;
  top: 8.12%;
  left: 102%;
}

.material-innerr_product {
  width: 100%;
}

.sakura_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3.03vw;
}

.sakura_logo {
  width: 7.32vw;
  margin-right: 2.94vw;
}

.sakura_bird {
  position: absolute;
  width: 12.19vw;
  top: 13.39vw;
  right: 11.29vw;
}

.sakura-inner_item {
  width: 50%;
}

.sakura-inner_logo {
  width: 4.55vw;
  margin-right: 2.53vw;
}

.sakura_deco {
  position: absolute;
  width: 3.02vw;
  left: 6.56vw;
  bottom: 1.79vw;
}

.hometek_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hometek_main_text {
  width: 40%;
  padding-right: 3vw;
}

.hometek_main_pic {
  width: 60%;
}

.hometek_main .material-inner_list li {
  display: block;
  font-weight: normal;
  padding-bottom: 30px;
  border-bottom: 1px solid #09A3E0;
}

.hometek_main .material-inner_list li:last-child {
  border: 0;
  padding-bottom: 0;
}

.hometek_logo {
  width: 20.94vw;
  margin-bottom: 50px;
  -webkit-filter: none;
          filter: none;
}

.hometek_bird {
  position: absolute;
  width: 12.19vw;
  top: 2.46vw;
  right: 5.24vw;
}

.hometek-1 .hometek-inner_text {
  width: 75%;
}

.hometek-1 .hometek-inner_pic {
  width: 25%;
}

.hometek-2 .hometek-inner_text {
  width: 60%;
}

.hometek-2 .hometek-inner_pic {
  width: 40%;
}

.hometek-inner_text {
  padding-right: 3.43vw;
}

.hometek-inner_logo {
  width: 14.84vw;
  margin-right: 1.89vw;
}

.hometek_deco {
  position: absolute;
  width: 5.23vw;
  top: 2.06vw;
  right: 6.1vw;
}
/*# sourceMappingURL=style.css.map */